<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is a user's account</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{connectionCount}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div class="read-only-label-and-value">
        <div class="read-only-field-label">Enabled</div>
        <div class="read-only-field-value">{{isEnabledText}}</div>
    </div>

    <div class="read-only-label-and-value">
        <div class="read-only-field-label">Last signed in at:</div>
        <div class="read-only-field-value">{{lastSignedInTimeText}}</div>
    </div>

    <div class="read-only-label-and-value">
        <div class="read-only-field-label">Locked</div>
        <div class="read-only-field-value">{{isLockedText}}</div>
    </div>

    <div class="read-only-label-and-value">
        <div class="read-only-field-label">Must change password</div>
        <div class="read-only-field-value">{{mustChangePasswordText}}</div>
    </div>
</div>