<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is an author</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>who has</span>
            {{#if hasMultipleConnections}}
                {{connectionCount}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if hasAuthorOf}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleAuthorOf}}Author of {{numberFormat authorOf.totalCount}} things{{else}}Author of{{/if}}
                </div>
                {{#each authorOf.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if linkedInUrl}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">LinkedIn page</div>
                <div class="read-only-field-value"><a {{bindAttr href="linkedInUrl"}}><span class="ti-linkedin"></span></a></div>
            </div>
        {{/if}}

        {{#if hasInstructed}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleInstructed}}Instructed {{numberFormat instructed.totalCount}} courses{{else}}Instructed course{{/if}}
                </div>
                {{#each instructed.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasSpokeAt}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleSpokeAt}}Spoke at {{numberFormat spokeAt.totalCount}} events{{else}}Spoke at{{/if}}
                </div>
                {{#each spokeAt.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasLinks}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleLinks}}Links to {{numberFormat links.totalCount}} things{{else}}Linked to{{/if}}
                </div>
                {{#each links.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) links to
                    {{numberFormat linksCount}} {{singularOrPlural linksCount thing things}}</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasTags}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleTags}}Tagged with {{numberFormat tags.totalCount}} tags{{else}}Tag{{/if}}
                </div>
                {{#each tags.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> {{numberFormat taggedCount}} {{singularOrPlural taggedCount
                    "thing has" "things have"}} the same tag</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>