<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">Database <span class="ti-server"></span></div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            {{#if hasMultipleConnections}}
                {{connectionCount}} links
            {{else}}
                1 link
            {{/if}}
        {{else}}
            No links
        {{/if}}
    </span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if tip}}
            <div class="read-only-field-label">Short description</div>
            <div class="read-only-field-value">{{tip}}</div>
        {{/if}}
    </div>
</div>