<div class="properties-title">
    <div class="title-bar-title">{{#if feedUrl}}{{{pageLink}}}{{else}}{{name}}{{/if}}</div>
    <div class="title-bar-type">is a feed</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if hasAuthors}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleAuthors}}
                        Authors <span class="read-only-field-label-count">{{authors.totalCount}}</span>
                    {{else}}
                        Author
                    {{/if}}
                </div>
                {{#if hasMultipleAuthors}}
                    {{#each authors.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> author of {{numberFormat authorOfCount}}
                                {{singularOrPlural authorOfCount thing things}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each authors.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> author of {{numberFormat authorOfCount}}
                            {{singularOrPlural authorOfCount thing things}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasCategories}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleCategories}}
                        Categories <span class="read-only-field-label-count">{{categories.totalCount}}</span>
                    {{else}}
                        Category
                    {{/if}}
                </div>
                {{#if hasMultipleCategories}}
                    {{#each categories.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{#thingPath}}{{/thingPath}}</a> has {{numberFormat childrenCount}}
                                {{singularOrPlural childrenCount child children}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each categories.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{#thingPath}}{{/thingPath}}</a> has {{numberFormat childrenCount}}
                            {{singularOrPlural childrenCount child children}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasItems}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleItems}}
                        Posts <span class="read-only-field-label-count">{{itemCountText}}</span>
                    {{else}}
                        Post
                    {{/if}}
                </div>
                {{#if hasMultipleItems}}
                    {{#each items.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each items.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if webPage}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Web page</div>
                <div class="read-only-field-value">
                    <a {{bindAttr href="feedWebPageLink"}}>{{webPage.name}}</a>
                </div>
            </div>
        {{/if}}

        {{#if hasRecommendedBy}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRecommendedBy}}
                        Recommended by <span class="read-only-field-label-count">{{recommendedBy.totalCount}}</span> things
                    {{else}}
                        Recommended by
                    {{/if}}
                </div>
                {{#if hasMultipleRecommendedBy}}
                    {{#each recommendedBy.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each recommendedBy.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasRecommendations}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRecommendations}}
                        Recommends <span class="read-only-field-label-count">{{recommendations.totalCount}}</span> things
                    {{else}}
                        Recommends
                    {{/if}}
                </div>
                {{#if hasMultipleRecommendations}}
                    {{#each recommendations.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each recommendations.members class="read-only-field-value" tagName="div"}}
                        <span class="ordinal">{{position}}.</span>
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasLinks}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleLinks}}
                        Links to <span class="read-only-field-label-count">{{links.totalCount}}</span> things
                    {{else}}
                        Linked to
                    {{/if}}
                </div>
                {{#if hasMultipleLinks}}
                    {{#each links.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) links to
                                {{numberFormat linksCount}} {{singularOrPlural linksCount thing things}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each links.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) links to
                            {{numberFormat linksCount}} {{singularOrPlural linksCount thing things}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasTags}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleTags}}
                        Tagged with <span class="read-only-field-label-count">{{tags.totalCount}}</span> tags
                    {{else}}
                        Tag
                    {{/if}}
                </div>
                {{#if hasMultipleTags}}
                    {{#each tags.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> {{numberFormat taggedCount}} {{singularOrPlural taggedCount
                                                                                                                 "thing has" "things have"}} the same tag</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each tags.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> {{numberFormat taggedCount}} {{singularOrPlural taggedCount
                                                                                                             "thing has" "things have"}} the same tag</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if createdOn}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">History</div>
                <div class="read-only-field-value">
                    {{creator.name}} added this feed on {{formatDate createdOn}}
                </div>
            </div>
        {{/if}}
    </div>
</div>