<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is a group of users</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{numberFormat connectionCount}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if parent}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Parent group</div>
                <div class="read-only-field-value"><a href="#{{id}}">{{parent}}</a> has {{numberFormat
                childrenCount}} sub-groups</div>
            </div>
        {{/if}}

        {{#if hasSubgroups}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleSubgroups}}Sub-groups ({{numberFormat subgroups.totalCount}}){{else}}Sub-group{{/if}}
                </div>
                {{#each subgroups.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasRoles}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRoles}}Roles ({{numberFormat roles.totalCount}}){{else}}Role{{/if}}
                </div>
                {{#each roles.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasUsers}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleUsers}}Users ({{numberFormat users.totalCount}}){{else}}User{{/if}}
                </div>
                {{#each users.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>