<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is a group of users</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if parent}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Parent group</div>
                <div class="read-only-field-value"><a href="#{{ref id}}">{{parent}}</a> has {{numberFormat
                childrenCount}} sub-groups</div>
            </div>
        {{/if}}

        {{#if hasSubgroups}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleSubgroups}}
                        Sub-groups <span class="read-only-field-label-count">{{subgroups.totalCount}}</span>
                    {{else}}
                        Sub-group
                    {{/if}}
                </div>
                {{#if hasMultipleSubgroups}}
                    {{#each subgroups.members class="read-only-field-value"}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a></span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each subgroups.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a></span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasRoles}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRoles}}
                        Roles <span class="read-only-field-label-count">{{roles.totalCount}}</span>
                    {{else}}
                        Role
                    {{/if}}
                </div>
                {{#if hasMultipleRoles}}
                    <div class="read-only-field-value">
                        {{#each roles.members}}
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a></span>
                        {{/each}}
                    </div>
                {{else}}
                    {{#each roles.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a></span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasUsers}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleUsers}}
                        Users <span class="read-only-field-label-count">{{users.totalCount}}</span>
                    {{else}}
                        User
                    {{/if}}
                </div>
                {{#if hasMultipleUsers}}
                    {{#each users.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a></span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each users.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a></span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if createdOn}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">History</div>
                <div class="read-only-field-value">
                    {{creator.name}} added this group on {{formatDate createdOn}}
                </div>
            </div>
        {{/if}}
    </div>
</div>