<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">are notes</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>that have</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if hasNotesFor}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleNotesFor}}
                        Notes for <span class="read-only-field-label-count">{{notesFor.totalCount}}</span> things
                    {{else}}
                        Notes for
                    {{/if}}
                </div>
                {{#if hasMultipleNotesFor}}
                    {{#each notesFor.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each notesFor.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        <div class="read-only-label-and-value">
            <div class="read-only-field-label">Finished</div>
            <div class="read-only-field-value">{{#if done}}Yes{{else}}No (still working on them){{/if}}</div>
        </div>

        {{#if createdOn}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">History</div>
                <div class="read-only-field-value">
                    {{creator.name}} added these notes on {{formatDate createdOn}}
                </div>
            </div>
        {{/if}}
    </div>
</div>