<div class="search-results">
    {{#if isShowingPartialResults}}
        <div class="showing-partial-results-description">Showing things {{startingAt}} through {{limit}} of {{total}} matching {{#if hasMoreThanOne}}things{{else}}thing{{/if}}</div>
    {{/if}}
    {{#each things tagName="ul" class="search-results"}}
        <div class="search-result"><span {{bindAttr class="typeIcon search-results-type-icon"}}></span><a {{bindAttr href="relativeUrl"}}>{{#thingPath}}{{/thingPath}}</a><span class="search-results-type-name">({{#typeOfThingName}}{{/typeOfThingName}})</span></div>
        {{#if hasFoundInProperties}}
            {{#if hasMoreThanOneFoundInProperty}}
                <p class="found-in-properties-title">Search text found in:</p>
                {{#each foundInProperties tagName="ul"}}
                    <span class="found-in-property-name">{{this}}</span>
                {{/each}}
            {{else}}
                <div class="search-result-found-in">The thing's <span class="found-in-property-name">{{firstFoundInProperty}}</span> contains the search text</div>
            {{/if}}
        {{/if}}
    {{/each}}
</div>