<div class="search-results">
    <div style="padding: 1em 2em">
        {{#each things tagName="ul" class="search-results"}}
            <a {{bindAttr href="relativeUrl"}}>{{name}}</a> <span {{bindAttr class="typeIcon"}}></span><span>({{#typeOfThingName}}{{/typeOfThingName}})</span><br>
            {{#if hasFoundInProperties}}
                {{#if hasMoreThanOneFoundInProperty}}
                    <p class="found-in-properties-title">Search text found in:</p>
                    {{#each foundInProperties tagName="ul"}}
                        <span class="found-in-property-name">{{this}}</span>
                    {{/each}}
                {{else}}
                    The thing's <span class="found-in-property-name">{{firstFoundInProperty}}</span> contains the search text
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>