<div class="properties-title">
    <div class="title-bar-title">{{text}}</div>
    <div class="title-bar-type">is a tag</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full Description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if hasTagged}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleTagged}}
                        Tagged things <span class="read-only-field-label-count">{{tagged.totalCount}}</span>
                    {{else}}
                        Tagged thing
                    {{/if}}
                </div>
                {{#if hasMultipleTagged}}
                    {{#each tagged.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                    tagsCount}} {{singularOrPlural tagsCount tag tags}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each tagged.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                tagsCount}} {{singularOrPlural tagsCount tag tags}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if createdOn}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">History</div>
                <div class="read-only-field-value">
                    {{creator.name}} added this tag on {{formatDate createdOn}}
                </div>
            </div>
        {{/if}}
    </div>
</div>