<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is a talk</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>with</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if description}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Full description</div>
                <div class="read-only-field-value">{{description}}</div>
            </div>
        {{/if}}

        {{#if hasAttended}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-value">I attended this talk</div>
            </div>
        {{/if}}

        {{#if hasListenedTo}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-value">I have listened to this talk</div>
            </div>
        {{/if}}

        {{#if hasSpeakers}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleSpeakers}}Speakers ({{numberFormat speakers.totalCount}}){{else}}Speaker{{/if}}
                </div>
                {{#each speakers.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasCategories}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleCategories}}Categories ({{numberFormat categories.totalCount}}){{else}}Category{{/if}}
                </div>
                {{#each categories.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{#thingPath}}{{/thingPath}}</a> has {{numberFormat childrenCount}}
                    {{singularOrPlural childrenCount child children}}</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasNotes}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleNotes}}Notes ({{numberFormat notes.totalCount}}){{else}}Notes{{/if}}
                </div>
                {{#each notes.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a></span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasAttendedBy}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleAttendedBy}}Attended by {{numberFormat attendedBy.totalCount}} people{{else}}Attendee{{/if}}
                </div>
                {{#each attendedBy.members class="read-only-field-value" tagName="div"}}
                    <span><a href="{{id}}">{{name}}</a> has attended {{numberFormat hasAttendedCount}}
                    {{singularOrPlural hasAttendedCount thing things}}</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasListeners}}
            <div class="read-only-field-label">
                {{#if hasMultipleListeners}}Listeners ({{numberFormat listeners.totalCount}}){{else}}Listener{{/if}}
            </div>
            {{#each listeners.members class="read-only-field-value" tagName="div"}}
                <span><a href="{{id}}">{{name}}</a> has listened to {{numberFormat hasListenedToCount}}
                {{singularOrPlural hasListenedToCount thing things}}</span>
            {{/each}}
        {{/if}}

        {{#if hasRecommendedBy}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRecommendedBy}}Recommended by {{numberFormat recommendedBy.totalCount}} things{{else}}Recommended by{{/if}}
                </div>
                {{#each recommendedBy.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) recommends
                    {{numberFormat recommendationsCount}} {{singularOrPlural recommendationsCount thing things}}</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasRecommendations}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleRecommendations}}Recommends {{numberFormat recommendations.totalCount}} things{{else}}Recommends{{/if}}
                </div>
                {{#each recommendations.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasLinks}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleLinks}}Links to {{numberFormat links.totalCount}} things{{else}}Linked to{{/if}}
                </div>
                {{#each links.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) links to
                    {{numberFormat linksCount}} {{singularOfPlural linksCount thing things}}</span>
                {{/each}}
            </div>
        {{/if}}

        {{#if hasTags}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleTags}}Tags ({{numberFormat tags.totalCount}}){{else}}Tag{{/if}}
                </div>
                {{#each tags.members class="read-only-field-value" tagName="div"}}
                    <span><a href="#{{id}}">{{name}}</a> {{numberFormat taggedCount}} {{singularOrPlural taggedCount
                    "thing has" "things have"}} the same tag</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>