<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="title-bar-type">is a user</div>
    <span class="title-bar-links">
        {{#if hasConnections}}
            <span>who has</span>
            {{#if hasMultipleConnections}}
                {{connectionCountText}} links
            {{else}}
                one link
            {{/if}}
        {{/if}}
    </span>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if firstName}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">First name</div>
                <div class="read-only-field-value">{{firstName}}</div>
            </div>
        {{/if}}

        {{#if middleNameOrInitial}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Middle name or initial</div>
                <div class="read-only-field-value">{{middleNameOrInitial}}</div>
            </div>
        {{/if}}

        {{#if lastName}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">Last name</div>
                <div class="read-only-field-value">{{lastName}}</div>
            </div>
        {{/if}}

        {{#if hasGroups}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleGroups}}
                        Groups <span class="read-only-field-label-count">{{groups.totalCount}}</span>
                    {{else}}
                        Group
                    {{/if}}
                </div>
                {{#if hasMultipleGroups}}
                    {{#each groups.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a></span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each groups.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a></span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasHasRead}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleHasRead}}
                        Has read <span class="read-only-field-label-count">{{hasRead.totalCount}}</span> things
                    {{else}}
                        Has read
                    {{/if}}
                </div>
                {{#if hasMultipleHasRead}}
                    {{#each hasRead.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                    readByCount}} {{singularOrPlural readByCount reader readers}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each hasRead.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                readByCount}} {{singularOrPlural readByCount reader readers}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasIsReading}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleIsReading}}
                        Reading <span class="read-only-field-label-count">{{isReading.totalCount}}</span> things
                    {{else}}
                        Reading one thing
                    {{/if}}
                </div>
                {{#if hasMultipleIsReading}}
                    {{#each isReading.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each isReading.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasHasAttended}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleHasAttended}}
                        Has attended <span class="read-only-field-label-count">{{hasAttended.totalCount}}</span> events
                    {{else}}
                        Has attended
                    {{/if}}
                </div>
                {{#if hasMultipleHasAttended}}
                    {{#each hasAttended.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                    attendedByCount}} {{singularOrPlural attendedByCount attendee attendees}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each hasAttended.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{numberFormat
                                attendedByCount}} {{singularOrPlural attendedByCount attendee attendees}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasHasListenedTo}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleHasListenedTo}}
                        Has listened to <span class="read-only-field-label-count">{{hasListenedTo.totalCount}}</span> things
                    {{else}}
                        Has listened to
                    {{/if}}
                </div>
                {{#if hasMultipleHasListenedTo}}
                    {{#each hasListenedTo.members}}
                        <div class="read-only-field-value"">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{listenersCount}} {{singularOrPlural listenersCount listener listeners}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each hasListenedTo.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) has {{listenersCount}} {{singularOrPlural listenersCount listener listeners}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasHasViewed}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleHasViewed}}
                        Has viewed <span class="read-only-field-label-count">{{hasViewed.totalCount}}</span> things
                    {{else}}
                        Has viewed
                    {{/if}}
                </div>
                {{#if hasMultipleHasViewed}}
                    {{#each hasViewed.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) {{viewedByCount}} {{singularOrPlural viewedByCount viewer viewers}}</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each hasViewed.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}}) {{numberFormat
                                viewedByCount}} {{singularOrPlural viewedByCount viewer viewers}}</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if hasOwns}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">
                    {{#if hasMultipleOwns}}
                        Owns <span class="read-only-field-label-count">{{numberFormat owns.totalCount}}</span> things
                    {{else}}
                        Owns
                    {{/if}}
                </div>
                {{#if hasMultipleOwns}}
                    {{#each owns.members}}
                        <div class="read-only-field-value">
                            <span class="ordinal">{{position}}.</span>
                            <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                        </div>
                    {{/each}}
                {{else}}
                    {{#each owns.members class="read-only-field-value" tagName="div"}}
                        <span><a href="#{{ref id}}">{{name}}</a> ({{#typeOfThingName}}{{/typeOfThingName}})</span>
                    {{/each}}
                {{/if}}
            </div>
        {{/if}}

        {{#if createdOn}}
            <div class="read-only-label-and-value">
                <div class="read-only-field-label">History</div>
                <div class="read-only-field-value">
                    {{creator.name}} added this user on {{formatDate createdOn}}
                </div>
            </div>
        {{/if}}
    </div>
</div>